In [106]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [107]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [108]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [109]:
Base = automap_base()

In [110]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [111]:
# reflect an existing database into a new model
Base.prepare(engine, reflect=True)

In [112]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [113]:
# Save references to each table
Measurement = Base.classes.measurement
Station     = Base.classes.station

In [114]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [115]:
# Find the most recent date in the data set.
end_date = session.query(Measurement.date).order_by(Measurement.date.desc())[0][0]
print(recent_measurement_date)

2017-08-23

In [116]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

columns = inspector.get_columns('Measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [117]:
columns = inspector.get_columns('Station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [118]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.
# Calculate the date one year from the last date in data set.

end_date_obj   = dt.datetime.strptime(end_date,'%Y-%m-%d')
start_date_obj = dt.datetime.strptime(str(end_date_as_dt - dt.timedelta(days=365)), '%Y-%m-%d %H:%M:%S').date()

In [131]:
# Perform a query to retrieve the data and precipitation scores

sel = [Measurement.id,
       Station.id,
       Measurement.station,
       Measurement.date,
       Measurement.prcp,
       Measurement.tobs,
       Station.name,
       Station.latitude,
       Station.longitude,
       Station.elevation ]

q = session.query(*sel).filter(Measurement.station == Station.station).\
                        filter(Measurement.date >= start_date_obj).\
                        order_by(Measurement.date).\
                        all()

In [137]:
# Save the query results as a Pandas DataFrame and set the index to the date column

filtered_df = pd.DataFrame(q)

filtered_df.head(5)
filtered_df = filtered_df.rename(columns={0:"Measurement Id",
                                          1:"Station Id", 
                                          2:"Station",
                                          3:"Measurement Date",
                                          4:"Precipitation",
                                          5:"TOBS",
                                          6:"Station Name",
                                          7:"Station Latitude",
                                          8:"Station Longitude",
                                          9:"Station Elevation"})


filtered_df.set_index("Measurement Date")

,Measurement Id,Station Id,Station,Precipitation,TOBS,Station Name,Station Latitude,Station Longitude,Station Elevation
Measurement Date,,,,,,,,,
2016-08-23,2364,1,USC00519397,0.00,81.0,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
2016-08-23,5091,2,USC00513117,0.15,76.0,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2016-08-23,7331,3,USC00514830,0.05,80.0,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
2016-08-23,8825,4,USC00517948,NaN,80.0,"PEARL CITY, HI US",21.39340,-157.97510,11.9
2016-08-23,11851,6,USC00519523,0.02,80.0,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
...,...,...,...,...,...,...,...,...,...
2017-08-22,19549,9,USC00516128,0.50,76.0,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4
2017-08-23,2724,1,USC00519397,0.00,81.0,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
2017-08-23,7635,3,USC00514830,0.00,82.0,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
2017-08-23,12187,6,USC00519523,0.08,82.0,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
2017-08-23,19550,9,USC00516128,0.45,76.0,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()